.myBtn {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 10px 15px;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: teal;
  box-shadow: 1px 1px 3px teal;
  transition: all 0.2s;
}

.myBtn:hover {
  background: darkslategray;
}

.myBtn.current {
  color: white;
  background: darkslategray;
}
