.myBtn {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 7px 12px;
  justify-content: center;
  text-transform: uppercase;
  color: teal;
  border-radius: 5px;
  border: 2px solid teal;
  cursor: pointer;
  background: transparent;
  box-shadow: inset 0px 0px 5px teal;
  transition: all 0.2s;
}

.myBtn:hover {
  color: darkslategray;
  border: 2px solid darkslategray;
  box-shadow: inset 0px 0px 5px darkslategray;
}

.myBtn.current {
  color: black;
  border: 2px solid black;
  box-shadow: inset 0px 0px 5px black;
}
