* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  color: teal;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
  row-gap: 10px;
}

.form button {
  align-self: flex-end;
}

.posts-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 10px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid teal;
  border-radius: 5px;
  padding: 15px 15px;
  box-shadow: 0.1em 0.1em 0.4em teal;
}

.post__date {
  margin-top: 2em;
  font-size: 0.8em;
}

.hr {
  border: 1px solid teal;
  margin: 20px 0;
  box-shadow: 0 0.05em 0.1em darkslategray, 0 0.2em 0.5em 0.03em teal;
}
