* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  color: teal;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
  row-gap: 10px;
}

.form button {
  align-self: flex-end;
}

.posts-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 10px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 2px solid teal;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: inset -0.5em -0.5em 1em .1em rgb(183, 250, 250),
              0.1em 0.1em .3em .01em darkslategray,
              0.2em 0.2em 1em .09em teal;
}

.hr {
  border: 1px solid teal;
  margin: 20px 0;
  box-shadow: 0 1px 3px 1px darkslategray, 
              0 5px 8px 1px teal;
}